/* Regular */
@font-face {
    font-family: 'league-gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'league-gothic';
    src: url('fonts/leaguegothic-italic-webfont.eot');
    src: url('fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Regular */
@font-face {
    font-family: 'sorts-mill-goudy';
    src: url('fonts/GoudyStM-webfont.eot');
    src: url('fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GoudyStM-webfont.woff') format('woff'),
         url('fonts/GoudyStM-webfont.ttf') format('truetype'),
         url('fonts/GoudyStM-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'sorts-mill-goudy';
    src: url('fonts/GoudyStM-Italic-webfont.eot');
    src: url('fonts/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GoudyStM-Italic-webfont.woff') format('woff'),
         url('fonts/GoudyStM-Italic-webfont.ttf') format('truetype'),
         url('fonts/GoudyStM-Italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

body {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;

	font-family: "sorts-mill-goudy";
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: #FFFFFF;

	background-image: url("bg.png");
	background-position: center bottom;
	

	/*background: #FFFFFF;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 30%,rgba(175,175,175,1) 80%);
	background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(30%,rgba(255,255,255,1)), color-stop(80%,rgba(175,175,175,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 30%,rgba(175,175,175,1) 80%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 30%,rgba(175,175,175,1) 80%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 30%,rgba(175,175,175,1) 80%);
	background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 30%,rgba(175,175,175,1) 80%);*/
}


em{
	font-style: italic;
	font-family: "sorts-mill-goudy";
}

figure{
	display: inline-block;
	max-width: 300px;
	margin: 20px;
}

.blackout .state-background {
	background: rgba( 0, 0, 0, 0.9 );
}

.blackout strong{
	color: #FFFFFF;
	font-weight: normal;
}

.blackout p{
	color: #5A90FF;
}

.reveal section img.transparent{
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
	margin: 0 0 20px 0;
	font-family: "league-gothic", sans-serif;
	line-height: 0.9em;
	color: #5A90FF;
	text-align: center;

}

.reveal h1 strong, 
.reveal h2 strong, 
.reveal h3 strong, 
.reveal h4 strong, 
.reveal h5 strong, 
.reveal h6 strong{
	font-weight: normal;
	color: #FFFFFF;

}

.reveal h1
{
	text-transform: uppercase;
	letter-spacing: -.02em;
}

.reveal p{
	text-align: left;
}

.reveal pre{
	width: 100%;
}

.reveal ul,.reveal ol{
	width: 100%;
}

.reveal img, .reveal a img{
	text-align: center;
	margin: 0 auto;
}

.reveal .demo h2{
	display: inline-block;
	width: 30%;
}
.reveal .demo h3{
	width: 65%;
	text-align: right;
	display: inline-block;
	color: #FFFFFF;
}

.question h1
{
	text-align: center;
}

.reveal figcaption h4{
	text-align: center;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
	color: #5A90FF;
	text-decoration: none;

	-webkit-transition: color .15s ease;
	   -moz-transition: color .15s ease;
	    -ms-transition: color .15s ease;
	     -o-transition: color .15s ease;
	        transition: color .15s ease;
}
	.reveal a:not(.image):hover {
		border: none;
		border-radius: 2px;
	}

.reveal .roll span:after {
	color: #fff;
	background: #5A90FF;
}

/*********************************************
 * MISC
 *********************************************/

.reveal section img {
	margin: 30px 0 0 0;
	background: rgba(255,255,255,0.12);
	border: 1px solid #ddd;
	
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

	.reveal a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: #3b759e;
		
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		        box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}

.reveal blockquote {
	background-color: #dddddd;
	color: #000000;
	border: 1px solid  #5A90FF;
}

.reveal p {
	margin-bottom: 20px;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls a {
	color: #fff;
}
	.reveal .controls a.enabled {
		color: #3b759e;
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: #3b759e;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}


.reveal .roll {

}
.title h1{
	text-align: center;
}
.title p{
	text-align: center;
	font-size: .9em;
}

.question h1{
	text-align: center;
}
.question p{
	text-align: center;
	font-size: .9em;
}
